body {
    margin: 0;
    padding: 20px;
    min-height: 100vh;

    border: 32px solid transparent;
    border-image-source: url("quimica.jpg");
    border-image-slice: 32;
    border-image-width: 32px;
    border-image-repeat: repeat;

    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #FF69B4, #FFFF00);
}
