body {
    margin: 0;
    padding: 40px;
    min-height: 100vh;
    box-sizing: border-box;

    border: 44px solid transparent;
    border-image-source: url("quimica.jpg");

    /* Topo | Direita | Baixo | Esquerda */
    border-image-slice: 44 47 44 47;
    border-image-width: 44px 47px 44px 47px;

    /* use repeat se encaixar perfeitamente, senão round */
    border-image-repeat: repeat;

    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #FF69B4, #FFFF00);
    background-clip: padding-box;
}
