body {
    margin: 0;
    padding: 60px;               /* espaço interno, ajuste se quiser */
    min-height: 100vh;
    box-sizing: border-box;

    border: 45px solid transparent;          /* espessura da borda */

    border-image-source: url("quimica.jpg");

    /* Pega a imagem INTEIRA como uma "unidade" para repetir */
    border-image-slice: 100%;                /* ou: 47 44 (altura largura) */

    /* Importante: a largura da borda define quantas vezes a imagem cabe */
    border-image-width: 45px;                /* mantenha ou ajuste */

    /* repeat = repete quantas vezes couber (pode cortar no final) */
    /* round  = repete e redimensiona levemente para caber sem corte */
    border-image-repeat: repeat;             /* teste também: round */

    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #FF69B4, #FFFF00);
    background-attachment: fixed;
    background-clip: padding-box;
}
h1, h2, h3, h4 {
    color: #007bff;
}

p {
    color: #000000;
}
