body {
    margin: 0;
    padding: 60px;
    min-height: 100vh;
    box-sizing: border-box;

    /* espaço da borda */
    border: 45px solid transparent;

    /* fundo principal */
    background:
        url("quimica.jpg") repeat-x top,
        url("quimica.jpg") repeat-x bottom,
        url("quimica.jpg") repeat-y left,
        url("quimica.jpg") repeat-y right,
        linear-gradient(to right, #FF69B4, #FFFF00);

    background-size:
        auto 45px,   /* topo */
        auto 45px,   /* base */
        45px auto,   /* esquerda */
        45px auto,   /* direita */
        auto;

    background-position:
        top left,
        bottom left,
        top left,
        top right,
        center;

    background-clip: padding-box;
    font-family: Arial, sans-serif;
}
